*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #a8c8f8, #f0f3f7);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div1 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color:  rgb(8, 113, 224)
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  background-color:  rgb(15, 118, 228);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(78, 145, 216);
}

h3 {
  color: rgb(226, 76, 76);
  margin-top: 10px;
}

p {
  font-size: 25px;
  margin-top: 5px;
}
